<div class="row section topspace">
    <div class="panel panel-cta">
        <div class="panel-body">
            <div class="col-lg-8">
                <p>Para conhecer melhor sobre nossos temas, decidi escrever alguns <b>e-books</b>. Cada e-book, foi pensado nas dificuldades você pode encontrar ,
                no ambiente de desenvolvimento de software. Conheça aqui. </p>
            </div>
            <div class="col-lg-4 text-right">
                <a href="https://github.com/vanessabrava/E-Books " class="btn btn-primary btn-lg">E-Books </a>
            </div>
        </div>
    </div>
</div> <!-- /section -->